@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@800&display=swap');
/* You can add global styles to this file, and also import other style files */
body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
.card,
.contenido {
  padding: 2rem;
  border-radius: 20px;
}
h1,
h2 {
  color: #e3e3e3;
  background-color: black;
  border: solid 3px rgba(255, 0, 0, 0.308);
}

label {
  font-weight: 600;
  font-size: 1.2rem;
}



.text-error {
  font-size: 1rem;
}

.card {
  background-color: #e3e3e3;
  border: 3px solid #000000;
  color: rgb(59, 59, 59);
}

.gastos-elemento:first-child {
  border-right: 1px solid #b9b9b9;
  padding-right: 40px;
}
.gastos-elemento:last-child{
  padding-left: 40px;
}
